@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --black: #262626;
  --black-second: #1d1d1d;
  --gray: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* header  */

.header {
  width: 99vw;
  height: 436px;
}

.header__bar {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7vw;
  padding-right: 7vw;
}

.logo {
  display: block;
  background: url(../images/logo.svg) center no-repeat;
  background-size: contain;
  height: 12px;
  width: 119px;
}

.header__bar-menu {
  width: 272px;
  height: 42px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.bar-menu__sign-in-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  color: var(--black-second);
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}

.bar-menu__register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 2px;
  background: var(--black);
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}

.bar-menu__sign-in-btn:hover,
.bar-menu__register-btn:hover {
  background: #57ad56;
  color: #fff;
  border: none;
}

.bar-menu__bag {
  display: block;
  background: url(../images/bag.svg) center no-repeat;
  width: 80px;
  height: 40px;
}

.bar-menu__bag:hover {
  background: url(../images/bag-green.svg) center no-repeat;
}

.header__restaurant {
  padding: 80px 0 0 7vw;
  width: 100%;
  height: 364px;
  background: url(../images/restaurant-bg.jpg) center no-repeat;
  background-size: cover;
}

.restaurant__content {
  padding: 38px 32px 0 42px;
  width: 389px;
  height: 204px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.restaurant__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 42px;
  color: var(--black-second);
}

.restaurant__about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 130px;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray);
  text-align: center;
}

.restaurant__time {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 97px;
  height: 32px;
  background: var(--black);
  border-radius: 16px;
  font-size: 13px;
  line-height: 15px;
  grid-area: time;
}

/* main  */

.mobile-line {
  display: none;
}

.main {
  width: 99vw;
  height: 860px;
}

.main__nav {
  width: 100%;
  height: 80px;
  padding: 32px 0 0 7vw;
}

.main__nav-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray);
  text-decoration: none;
  margin-right: 40px;
}

.main__nav-link:hover {
  color: #327430;
}

.main__dish-menu {
  width: 100%;
  height: 780px;
  padding-left: 7vw;
}

.dish-menu__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
  margin-top: 56px;
  margin-bottom: 32px;
}

.dish-menu__container {
  display: grid;
  grid-template-rows: repeat(6, 160px);
  grid-template-columns: repeat(2, 470px);
  width: 956px;
  height: 578px;
  grid-gap: 49px 16px;
}

.dish-menu__dish {
  display: grid;
  grid-template-areas:
    'title img'
    'about img'
    'price img';
  grid-template-columns: 246px 170px;
  grid-template-rows: 24px 21px 115px;
  grid-gap: 0 55px;
}

.dish-menu__dish:hover {
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  cursor: pointer;
}

.dish__title {
  padding: 16px 0 0 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--black-second);
  grid-area: title;
}

.dish__price {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: var(--black-second);
  grid-area: price;
  padding: 83px 0 0 16px;
}

.dish__image {
  height: 160px;
  width: 170px;
  object-fit: contain;
  grid-area: img;
}

.dish__about {
  padding: 16px 0 0 16px;
  font-size: 13px;
  line-height: 21px;
  color: var(--gray);
  grid-area: about;
  display: none;
}

.dish-menu__dish:hover .dish__about {
  display: inline;
}

.dish-menu__dish:hover .dish__image {
  height: 158px;
  width: 170px;
}

/* footer  */

.footer {
  width: 99vw;
  height: 443px;
  background: var(--black);
  padding-left: 7vw;
  padding-top: 56px;
}

.logo_2x {
  background: url(../images/logo@2x.svg) center no-repeat;
  width: 191px;
  height: 20px;
  margin-bottom: 40px;
}

.footer__middle {
  width: 956px;
  height: 220px;
  border-top-style: solid;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-color: #979797;
  border-width: 1px;
  display: flex;
  flex-flow: column wrap;
  padding-top: 32px;
  gap: 33px 0;
}

.select-language-wrapper {
  width: 227px;
  height: 40px;
  position: relative;
}

.select-language-wrapper::before {
  content: '';
  display: inline-block;
  background: url(../images/world.svg) center no-repeat;
  background-size: auto;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 12px;
  left: 16px;
}

.select-language {
  width: 100%;
  height: 100%;
  appearance: none;
  background: url(../images/arrow.svg) 96%/15% no-repeat #3b3b3b;
  background-size: auto;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  padding-left: 48px;
}

.social-hash {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}

.green-hash {
  color: #49a144;
}

.footer__social-menu {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  gap: 12px;
  height: 60px;
  width: 96px;
}

.social-menu__fb {
  display: block;
  height: 24px;
  width: 24px;
  background: url(../images/facebook.svg) center no-repeat;
  background-size: contain;
}

.social-menu__twitter {
  display: block;
  height: 24px;
  width: 24px;
  background: url(../images/twitter.svg) center no-repeat;
  background-size: contain;
}

.social-menu__ig {
  display: block;
  height: 24px;
  width: 24px;
  background: url(../images/instagram.svg) center no-repeat;
  background-size: contain;
}

.footer__link-list {
  list-style: none;
  height: 133px;
  width: 170px;
  display: flex;
  flex-flow: column;
  gap: 23px;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
}

.footer__bottom {
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 13px;
  width: 679px;
  margin-top: 40px;
}

.copyright {
  font-size: 11px;
  line-height: 13px;
}

.privacy {
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  text-decoration: none;
}

.terms {
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  text-decoration: none;
}
